body {
    padding-top: 56px;
}

a:link{
    color: #e50040;
}
a:visited{
    color: #e50040;
}
a:hover{
    color: #aa0029;
}
a:active{
    color: #aa0026;
}
h2{
    color: #e50040;
    margin-top: 20px;
}
.foto{
    border-radius: 5px;
}
.textarea{
    border-radius: 5px;
    border: 1px solid lightgrey;
}
.map{
    border-radius: 5px;
}
.riga{
    margin-top: 30px;
}
#emailcon{
    resize: none;
    border-radius: 5px;
    height: 170px;
    width: 100%; 
}

