body {
    padding-top: 56px;
}

a:link{
    color: #e50040;
}
a:visited{
    color: #e50040;
}
a:hover{
    color: #aa0029;
}
a:active{
    color: #aa0026;
}
h2{
    color: #e50040;
    margin-top: 20px;
}
.foto{
    border-radius: 5px;
}
.textarea{
    border-radius: 5px;
    border: 1px solid lightgrey;
}
.map{
    border-radius: 5px;
    border: 1px solid #e50040;
}
.riga{
    margin-top: 30px;
}
#address{
    border-radius: 5px;
    height: 30px;
    border: 1px solid #808080;
    width: 100%;
}
#object{
    border-radius: 5px;
    height: 30px;
    border: 1px solid #808080;
    width: 100%;
    margin-top: 10px;
}
.alert{
    margin-top: 10px;
    margin-bottom: 5px;
}
.nick{
    border: 1px solid grey;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    color: #e50040;
    padding-top: 5px;
    margin-top: 5px;
}
.rec{
    border-radius: 0 0 5px 5px;
    background-color: lightgrey;
    padding: 0;
    height: 50px;
}
#commenta{
    background-color: #e50040;
    width: 100%;
    height: 40px;
    color: #fff;
    margin-top: 5px;
}

#rec{
    border: 1px solid grey;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.send{
    background-color: #e50040;
    width: 250px;
    height: 40px;
    color: #fff;
    margin-top: 20px;
}
textarea{
    resize: none;
    height: 200px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #808080;
    margin-top: 10px;
}